.header1{
            /* background-color: aqua; */
            height: 70pxpx;
            width: 100%;
            display:inline-block;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-size: 24px;
            align-items: center;
            overflow: none;
            color: black;
            background-color: #00DBDE;
            background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);


        }

#headeritems{
    list-style: none;
    display: flex;
    color:azure;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 12px;
    padding: 10px;
    align-items: center;
    gap: 50px;

}
.foot{
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    
    bottom: 0px;
}
.footertext{
    font-size: 18px;
}